In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import ast
# from supply import *

In [51]:
# TODO: Add the first few columns to 
gc = pd.read_csv("gen_cap_merged.csv")
gc['date'] = pd.to_datetime(gc['date'])
gc.set_index('date', inplace=True)

In [52]:
sp2 = pd.DataFrame()
sp2['month'] = gc.index.month.unique()
sp2.set_index('month', inplace=True)

In [53]:
total_gen_pairs = []
norm_gen_pairs = []
moving_avg_norm_gen_pairs = []

for mon in sp2.index:
    total_gen_month = gc.loc[gc.index.month == mon, 'total_gen']
    total_gen_pairs.append((min(total_gen_month), max(total_gen_month)))
    
    norm_gen_month = gc.loc[gc.index.month == mon, 'gen_cap_ratio']
    norm_gen_pairs.append((min(norm_gen_month), max(norm_gen_month)))
    
    mov_avg_gen_month = gc.loc[gc.index.month == mon, 'moving_avg_cap_ratio']
    moving_avg_norm_gen_pairs.append((min(mov_avg_gen_month), max(mov_avg_gen_month)))

sp2['tot_range'] = total_gen_pairs
sp2['norm_range'] = norm_gen_pairs
sp2['avg_norm_range'] = moving_avg_norm_gen_pairs

In [54]:
sp2

,tot_range,norm_range,avg_norm_range
month,,,
1,"(15279.45, 22377.87)","(0.3188466434339851, 0.419811072302837)","(0.3730141911522075, 0.4417939478295686)"
2,"(13838.03, 20358.08)","(0.3068080681275236, 0.3841815990789411)","(0.3692634507827357, 0.4375920969959629)"
3,"(16008.95, 22972.52)","(0.3442753955837026, 0.4280112567691773)","(0.3672197447820217, 0.4357004403558285)"
4,"(16511.63, 23070.49)","(0.3410721590891348, 0.4226219099081235)","(0.3659121403938297, 0.4349937270767772)"
5,"(17780.61, 26208.25)","(0.3770641084494243, 0.4764281564127005)","(0.3667704797385988, 0.4369813408432566)"
6,"(17859.74, 25685.59)","(0.3964185895454106, 0.4952083097882483)","(0.3710660019215775, 0.4394383586380689)"
7,"(20921.65, 28130.2)","(0.4245141666900878, 0.5281221236853471)","(0.373571870227935, 0.443290711271716)"
8,"(20560.9, 27428.22)","(0.4190660883197022, 0.5348659555775587)","(0.3775797699311625, 0.4493884795989657)"
9,"(19066.17, 26425.33)","(0.3996805351270833, 0.5037763335964242)","(0.3790436508308273, 0.4522954164713775)"
10,"(17763.33, 25582.84)","(0.3767643173663353, 0.4764488423666809)","(0.3798816345692429, 0.454337068681577)"
11,"(16603.81, 22844.8)","(0.3456909716041633, 0.433647351473748)","(0.3777640425578424, 0.4535520841998759)"
12,"(16511.75, 22855.87)","(0.348665929680254, 0.4277397795312655)","(0.3760176449953106, 0.4515109189443633)"

In [55]:
sp2.to_csv('sp2.csv')

In [44]:
# The latest Installed Capacity is assumed to be current

gc.iloc[-1:, 2]

date
2024-05-01    64044.6
Name: total_ic, dtype: float64